include LICENSE
include README.md
include pyproject.toml
recursive-include mlqmcpy *.py *.json *.npy *.template
recursive-include tests *.py
prune .github
prune examples
global-exclude __pycache__ *.py[cod] .DS_Store
